$headerBackground:url('../img/m-h-night.jpg');
$backgroundColor:#21232E;
$fonts: (
     "SourcePro": #{'Source Sans Pro', sans-serif},
     "Hind": #{'Hind', sans-serif},
     "Fresca": #{'Fresca', sans-serif},
);
$textColor:#FFFFFF;
$sectionTextColor:#B6C3CE;
$whiteTextColor:#FFFFFF;
$underlineTextColor:#FF4E33;
$fontSourcePro: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;
$fontText:"Hind";
$btnColor:#E3AC00;
$btnTextColor:#F2F3F7;
$btnHoverColor:rgb(161, 125, 15);
$footerAndCardBackgroundColor:#3B3F50;
$bannerBackgroundColor1:#DDA306;
$bannerBackgroundColor2:#98354D;
