$headerBackground:url('../img/m-h-day.jpg');
$backgroundColor:white;
$fonts: (
     "SourcePro": #{'Source Sans Pro', sans-serif},
     "Hind": #{'Hind', sans-serif},
     "Fresca": #{'Fresca', sans-serif},
);
$textColor:#2C2F3C;
$sectionTextColor:#B6C3CE;
$whiteTextColor:#FFFFFF;
$underlineTextColor:#14A0C7;
$fontSourcePro: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;
$fontText:"Hind";
$btnColor:#699900;
$btnTextColor:#F2F3F7;
$btnHoverColor:#5d8507;
$footerBackgroundColor:#21232E;
$bannerBackgroundColor1:#639315;
$bannerBackgroundColor2:#2E5CD5;